.popup {
  height: 100dvh;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba($color-black, 0.4);

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  @include flexcenter;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s;

  z-index: 99999;

  &__content {
    overflow: hidden;

    position: relative;

    border-radius: 3px;

    width: 85%;

    @include respond(big-desktop) {
      width: 75%;
    }

    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);

    gap: 0 !important;

    opacity: 0;

    transform: scale(0);
    transition: all 0.5s 0.1s;

    @include respond(tab-land) {
      grid-template-columns: 1fr !important;
    }
  }

  &__text-box {
    grid-column: 2 / -1;

    @include respond(tab-land) {
      grid-column: unset;
    }

    padding: 3.2rem 4.8rem;

    @include respond(phone) {
      padding: 2.4rem 3.2rem;
    }

    align-self: center;

    display: block;
  }

  &__picture-box {
    @include respond(tab-land) {
      width: 100%;
      display: flex;
    }
  }

  &__img {
    width: 100%;
    display: block;
    @include respond(tab-land) {
      width: 50%;
    }
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;

    -moz-column-count: 2;
    -moz-column-gap: 3.2rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    column-count: 2;
    column-gap: 3.2rem;
    column-rule: 1px solid $color-grey-light-2;

    @include respond(phone) {
      -moz-column-count: unset;
      -moz-column-gap: 0;
      -moz-column-rule: unset;

      column-count: unset;
      column-gap: 0;
      column-rule: unset;
    }

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 3.2rem;
      right: 3.2rem;
      font-size: 4rem;
      text-decoration: none;
      display: inline-block;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }

  /* open state */
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
