*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font size : 10px */
  /* 10 / 16 = 0.625 = 62.5% */
  /* percentage of user's browser font size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: $color-grey-light-1;

  @include respond(big-desktop) {
    font-size: 68.75%; // font size 11px
  }

  @include respond(tab-land) {
    font-size: 56.25%; // font size 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // font size 8px
  }
}

body {
  padding: 2rem;
  overflow-x: hidden;

  @include respond(tab-land) {
    padding: 0;
  }
}
