.section-about {
  background-color: $color-grey-light-1;
  padding: 32rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 30rem 0;
  }

  @include respond(phone) {
    padding: 28rem 0;
  }

  @include respond(tab-land) {
    padding-bottom: 48rem;
  }
}

.section-features {
  padding: 24rem 0;
  // margin: 20rem 0;

  @include respond(tab-port) {
    padding: 20rem 0;
  }

  @include respond(phone) {
    padding: 18rem 0;
  }

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;

  transform: skewY(-6deg);

  margin-top: -20vh;

  & > * {
    transform: skewY(6deg);
  }

  @include respond(phone) {
    transform: skewY(-12deg);

    & > * {
      transform: skewY(12deg);
    }
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 16rem 0;
  padding-top: 32rem;

  @include respond(tab-port) {
    padding: 14rem 0;
  }

  @include respond(phone) {
    padding: 12rem 0;
  }

  @include respond(tab-land) {
    padding-top: 34rem;
  }

  margin-top: -20vh;
}

.section-stories {
  position: relative;
  padding: 16rem 0;
}

.section-book {
  padding: 16rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.book {
  max-width: 130rem;
  margin: 0 auto;
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-position: bottom;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  @include respond(tab-land) {
    background-image: linear-gradient(
        100deg,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        100deg,
        rgba($color-white, 0.9) 70%,
        transparent 70%
      ),
      url(../img/nat-10.jpg);
  }

  @include respond(phone) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 105%,
        transparent 70%
      ),
      url(../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
      padding: 4rem;
    }

    @include respond(tab-port) {
      width: 70%;
      padding: 4rem;
    }

    @include respond(phone) {
      width: 100%;
      padding: 4rem;
    }
  }
}

// - SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
